
<link rel="stylesheet" type="text/css" href="/inc/layout.html">
<div id="titleArea">
    <h2>About</h2>
    <span module="Layout_MobileAction">
    </span>
</div>
<div>
   <ul>
    <li class="about_info">Sehee Shin</li>
<li class="about_me"><img src="/img/me.png"></li>    
    </ul>
</div>
<div>
    
    <link href="../css/sehee.css" rel="stylesheet">
    <div id="titleSh" class="layout_sh_box">
         <h4>Good morning<br>How are you<br>Bla Bla Thank you</h4>
         <h4>Design</h4>

      <divi id="parent">
         <ul id="child" class="txt_box1">
          <li>캐릭터</li><li>비쥬얼</li><li>웹디자인</li>
                 <li>웹퍼블리싱</li><li>웹커스터마이징</li>
             </ul>
      </div>          
        <div class="txt_button1">
                      <h4>Hello blabla !</h4>
            <div><a href="/board/event/8/?board_no=8&category_no=1">-> Portfolio</a></div>
      </div>
	</div>
<div id="titleArea">
           <h2>Map</h2>
     <ul class="about_me2">
         <li>Hello south korea ,</li>
         <li><img src="/img/me2.png"></li>    
    </ul>
</div>
    <div id="titleSh" class="layout_sh_box">
         <h4>info</h4>
        <ul class="txt_box2">
            <li>2006.01 - 2009.07<br>(주) 간지나라<br>웹디자인팀 주임</li>
            <li>2006.01 - 2009.07<br>(주) 간지나라<br>웹디자인팀 주임</li>
        </ul>
        <div class="txt_button2">
                      <h4>Hello blabla !</h4>
            <div><a href="/shopinfo/workhistory.html">-> Work Experience</a></div>
      </div>
    </div>

</div>

 

