<!--@layout(/layout/basic/layout.html)-->

    <!--@css(/css/sehee.css)-->
    <div id="titleArea">
        <h2>Work Experience</h2>
        <span module="Layout_MobileAction">
        </span>
    </div>
    
    <div id="historyArea">
        <h4>년월일</h4>
        <div>
        <ul>
            <li class="name">회사명</li>
            <li class="write">내용</li>
            <li><span>텍스트버튼</span><span>텍스트버튼</span><span>텍스트버튼</span></li>
        </ul>
        </div>
        
        
        
        
    </div>
         <div>
                <div class="txt_button4"><a href="/board/event/8/?board_no=8&category_no=1">-> Portfolio</a></div>
          </div>
    
    
     
    
    